#alert_popover{
    display: block;
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.wrapper{
    display: table-cell;
    vertical-align: bottom;
    height: auto;
    width: 200px;
}

.alert_default{
    color: #333333;
    background-color: #bdb9b9;
    border-color: #cccccc;
}